{% extends 'base.html.twig' %}

{% block title %}Create Ticket{% endblock %}
{% block h1 %}New ticket{% endblock %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.priority) }}
        {{ form_row(form.deadline) }}
        {{ form_row(form.description) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
