{% extends 'base.html.twig' %}

{% block title %}User {{ user.id }}{% endblock %}

{% block h1 %}Editing user n°{{ user.id }}{% endblock %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.role) }}
        {{ form_row(form.created_at) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
